# Cleaning of the Statics Canada - wages

In [1]:
#import dependencies
import pandas as pd

# Read in all wages files from Stats Canada for Male/Female, ages 25-54 & >55 years old

In [2]:
#File to Load Ontario Males 25-54 wages for 1997 to 2021
wages_male_25_data_to_load = "Raw Data CSV files/StatsCan_Male_25to54.csv"

In [3]:
# Create a DataFrame for Ontario Males 25-54 wages for 1997 to 2021
wages_male1_df = pd.read_csv(wages_male_25_data_to_load)

#display the data table for preview
wages_male1_df.head()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,25 to 54 years,Current dollars,75,units,0,v1063665269,7.3.2.1.2.3,1250.33,NaN,NaN,NaN,2
1,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,25 to 54 years,Current dollars,75,units,0,v1063665269,7.3.2.1.2.3,1283.03,NaN,NaN,NaN,2
2,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,25 to 54 years,Current dollars,75,units,0,v1063665269,7.3.2.1.2.3,1314.85,NaN,NaN,NaN,2
3,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,25 to 54 years,Current dollars,75,units,0,v1063665269,7.3.2.1.2.3,1388.65,NaN,NaN,NaN,2
4,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,25 to 54 years,Current dollars,75,units,0,v1063665269,7.3.2.1.2.3,1427.36,NaN,NaN,NaN,2

In [4]:
#File to Load Ontario Males >55 wages for 1997 to 2021
wages_male_55_data_to_load = "Raw Data CSV files/StatsCan_Male_55Older.csv"

In [5]:
# Create a DataFrame for Ontario Males >55 wages for 1997 to 2021
wages_male2_df = pd.read_csv(wages_male_55_data_to_load)

#display the data table for preview
wages_male2_df.head()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,55 years and over,Current dollars,75,units,0,v1063665270,7.3.2.1.2.4,1253.76,NaN,NaN,NaN,2
1,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,55 years and over,Current dollars,75,units,0,v1063665270,7.3.2.1.2.4,1278.24,NaN,NaN,NaN,2
2,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,55 years and over,Current dollars,75,units,0,v1063665270,7.3.2.1.2.4,1313.42,NaN,NaN,NaN,2
3,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,55 years and over,Current dollars,75,units,0,v1063665270,7.3.2.1.2.4,1417.76,NaN,NaN,NaN,2
4,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Males,55 years and over,Current dollars,75,units,0,v1063665270,7.3.2.1.2.4,1425.09,NaN,NaN,NaN,2

In [6]:
#File to Load Ontario Female 25-54 wages for 1997 to 2021
wages_female_25_data_to_load = "Raw Data CSV files/StatsCan_Wage_Female_25to54.csv"

In [7]:
# Create a DataFrame for Ontario Males 25-54 wages for 1997 to 2021
wages_female1_df = pd.read_csv(wages_female_25_data_to_load)

#display the data table for preview
wages_female1_df.head()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,25 to 54 years,Current dollars,75,units,0,v1063665273,7.3.2.1.3.3,1058.00,NaN,NaN,NaN,2
1,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,25 to 54 years,Current dollars,75,units,0,v1063665273,7.3.2.1.3.3,1092.20,NaN,NaN,NaN,2
2,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,25 to 54 years,Current dollars,75,units,0,v1063665273,7.3.2.1.3.3,1139.61,NaN,NaN,NaN,2
3,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,25 to 54 years,Current dollars,75,units,0,v1063665273,7.3.2.1.3.3,1205.10,NaN,NaN,NaN,2
4,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,25 to 54 years,Current dollars,75,units,0,v1063665273,7.3.2.1.3.3,1234.24,NaN,NaN,NaN,2

In [8]:
#File to Load Ontario Female > 55 wages for 1997 to 2021
wages_female_55_data_to_load = "Raw Data CSV files/StatsCan_Wage_Female_55Older.csv"

In [9]:
# Create a DataFrame for Ontario Males >55 wages for 1997 to 2021
wages_female2_df = pd.read_csv(wages_female_55_data_to_load)

#display the data table for preview
wages_female2_df.head()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,55 years and over,Current dollars,75,units,0,v1063665274,7.3.2.1.3.4,1038.15,NaN,NaN,NaN,2
1,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,55 years and over,Current dollars,75,units,0,v1063665274,7.3.2.1.3.4,1064.90,NaN,NaN,NaN,2
2,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,55 years and over,Current dollars,75,units,0,v1063665274,7.3.2.1.3.4,1100.28,NaN,NaN,NaN,2
3,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,55 years and over,Current dollars,75,units,0,v1063665274,7.3.2.1.3.4,1154.73,NaN,NaN,NaN,2
4,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Total employees, all occupations",Females,55 years and over,Current dollars,75,units,0,v1063665274,7.3.2.1.3.4,1187.72,NaN,NaN,NaN,2

# Create 1 Cosolidated Ontario Wages DataFrame

In [10]:
#Create Wage DataFrame - combine Male data
Ontario_Wages= wages_male1_df.append(wages_male2_df, ignore_index = True)
# Ontario_Wages.head()
Ontario_Wages.tail()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
505,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Males,55 years and over,Current dollars,75,units,0,v1063665870,7.3.2.51.2.4,712.27,NaN,NaN,NaN,2
506,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Males,55 years and over,Current dollars,75,units,0,v1063665870,7.3.2.51.2.4,768.42,NaN,NaN,NaN,2
507,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Males,55 years and over,Current dollars,75,units,0,v1063665870,7.3.2.51.2.4,783.01,NaN,NaN,NaN,2
508,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Males,55 years and over,Current dollars,75,units,0,v1063665870,7.3.2.51.2.4,758.46,NaN,NaN,NaN,2
509,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Males,55 years and over,Current dollars,75,units,0,v1063665870,7.3.2.51.2.4,847.31,NaN,NaN,NaN,2

In [11]:
# Add female 25-54 data
Ontario_Wages= Ontario_Wages.append(wages_female1_df, ignore_index = True)
Ontario_Wages.tail()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
760,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,25 to 54 years,Current dollars,75,units,0,v1063665873,7.3.2.51.3.3,618.12,NaN,NaN,NaN,2
761,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,25 to 54 years,Current dollars,75,units,0,v1063665873,7.3.2.51.3.3,665.37,NaN,NaN,NaN,2
762,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,25 to 54 years,Current dollars,75,units,0,v1063665873,7.3.2.51.3.3,694.23,NaN,NaN,NaN,2
763,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,25 to 54 years,Current dollars,75,units,0,v1063665873,7.3.2.51.3.3,668.01,NaN,NaN,NaN,2
764,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,25 to 54 years,Current dollars,75,units,0,v1063665873,7.3.2.51.3.3,697.58,NaN,NaN,NaN,2

In [12]:
Ontario_Wages= Ontario_Wages.append(wages_female2_df, ignore_index = True)
Ontario_Wages.tail()

,REF_DATE,GEO,DGUID,Wages,Type of work,National Occupational Classification (NOC),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1015,2017,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,55 years and over,Current dollars,75,units,0,v1063665874,7.3.2.51.3.4,612.71,NaN,NaN,NaN,2
1016,2018,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,55 years and over,Current dollars,75,units,0,v1063665874,7.3.2.51.3.4,657.11,NaN,NaN,NaN,2
1017,2019,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,55 years and over,Current dollars,75,units,0,v1063665874,7.3.2.51.3.4,667.23,NaN,NaN,NaN,2
1018,2020,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,55 years and over,Current dollars,75,units,0,v1063665874,7.3.2.51.3.4,697.39,NaN,NaN,NaN,2
1019,2021,Ontario,2016A000235,Average weekly wage rate,Full-time employees,"Labourers in processing, manufacturing and uti...",Females,55 years and over,Current dollars,75,units,0,v1063665874,7.3.2.51.3.4,688.87,NaN,NaN,NaN,2

In [13]:
#review data types
Ontario_Wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   REF_DATE                                    1020 non-null   int64
 1   GEO                                         1020 non-null   object
 2   DGUID                                       1020 non-null   object
 3   Wages                                       1020 non-null   object
 4   Type of work                                1020 non-null   object
 5   National Occupational Classification (NOC)  1020 non-null   object
 6   Sex                                         1020 non-null   object
 7   Age group                                   1020 non-null   object
 8   UOM                                         1020 non-null   object
 9   UOM_ID                                      1020 non-null   int64
 10  SCALAR_FACTOR                               1020 non-null   object
 11  SCALAR_ID                                   1020 non-null   int64
 12  VECTOR                                      1020 non-null   object
 13  COORDINATE                                  1020 non-null   object
 14  VALUE                                       924 non-null    float64
 15  STATUS                                      96 non-null     object
 16  SYMBOL                                      0 non-null      float64
 17  TERMINATED                                  0 non-null      float64
 18  DECIMALS                                    1020 non-null   int64
dtypes: float64(3), int64(4), object(12)
memory usage: 151.5+ KB

In [14]:
# Drop null value, not required columns Status, Symbol and Terminated
Ontario_Wages.drop(columns=['UOM','Type of work','DECIMALS','DGUID','UOM_ID','SCALAR_FACTOR', 'SCALAR_ID','VECTOR','COORDINATE','STATUS','SYMBOL','TERMINATED'], inplace=True)

In [15]:
Ontario_Wages.columns

Index(['REF_DATE', 'GEO', 'Wages',
       'National Occupational Classification (NOC)', 'Sex', 'Age group',
       'VALUE'],
      dtype='object')

In [16]:
#Review Datatypes
Ontario_Wages.dtypes

REF_DATE                                        int64
GEO                                            object
Wages                                          object
National Occupational Classification (NOC)     object
Sex                                            object
Age group                                      object
VALUE                                         float64
dtype: object

In [17]:
#Change Wages to numeric
# Use pd.to_numeric() method to convert the datatype of the Amount column
# df['Amount'] = pd.to_numeric(df['Amount'])
Ontario_Wages['VALUE'] = Ontario_Wages['VALUE'].astype(str). astype(float)

In [18]:
#find null values
for column in Ontario_Wages.columns:
    print(f"Column {column} has {Ontario_Wages[column].isnull().sum()}null values")

Column REF_DATE has 0null values
Column GEO has 0null values
Column Wages has 0null values
Column National Occupational Classification (NOC) has 0null values
Column Sex has 0null values
Column Age group has 0null values
Column VALUE has 96null values

In [19]:
# #review rows with null values - gender
# Null_Wage=Ontario_Wages[Ontario_Wages['weekly_wage'].isnull()]
# gender_split=Null_Wage.groupby('gender').count()
# gender_split

In [20]:
# #review rows with null values - noc
# Null_Wage=Ontario_Wages[Ontario_Wages['weekly_wage'].isnull()]
# #need to figure out how to see gender by no for the nan values

# Rename Ontario Wages column headers

In [21]:
# Rename the columns in the sunshine_data DataFrame.### changed to match 2020 data
Ontario_Wages.rename({'REF_DATE':'year',
                         'GEO':'province',
                         'Wages':'wage_frequency',
                         'National Occupational Classification (NOC)':'noc',
                         'Sex': 'gender',
                         'Age group':'age_group',
                         'VALUE':'weekly_wage'
                    }, axis='columns', inplace=True)

In [22]:
# Export to csv 
Ontario_Wages.to_csv("Clean_Ontario_Wages.csv", index=False)
Ontario_Wages.head()

,year,province,wage_frequency,noc,gender,age_group,weekly_wage
0,2017,Ontario,Average weekly wage rate,"Total employees, all occupations",Males,25 to 54 years,1250.33
1,2018,Ontario,Average weekly wage rate,"Total employees, all occupations",Males,25 to 54 years,1283.03
2,2019,Ontario,Average weekly wage rate,"Total employees, all occupations",Males,25 to 54 years,1314.85
3,2020,Ontario,Average weekly wage rate,"Total employees, all occupations",Males,25 to 54 years,1388.65
4,2021,Ontario,Average weekly wage rate,"Total employees, all occupations",Males,25 to 54 years,1427.36

In [23]:
Ontario_Wages.dtypes

year                int64
province           object
wage_frequency     object
noc                object
gender             object
age_group          object
weekly_wage       float64
dtype: object

# Cleaning of the Statics Canada - CPI

In [21]:
#File to Load Ontario Males 25-54 wages for 1997 to 2021
cpi_data_to_load = "Raw Data CSV files/OntarioCPI_databaseLoadingData.csv"

In [22]:
# Create a DataFrame for Ontario Males 25-54 wages for 1997 to 2021
cpi_df = pd.read_csv(cpi_data_to_load)

#display the data table for preview
cpi_df.tail()

,REF_DATE,GEO,DGUID,Products and product groups,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
370,2016,Ontario,2016A000235,Services,2002=100,17,units,0,v41694341,14.282,140.6,NaN,NaN,NaN,1
371,2017,Ontario,2016A000235,Services,2002=100,17,units,0,v41694341,14.282,144.6,NaN,NaN,NaN,1
372,2018,Ontario,2016A000235,Services,2002=100,17,units,0,v41694341,14.282,148.9,NaN,NaN,NaN,1
373,2019,Ontario,2016A000235,Services,2002=100,17,units,0,v41694341,14.282,152.4,NaN,NaN,NaN,1
374,2020,Ontario,2016A000235,Services,2002=100,17,units,0,v41694341,14.282,154.6,NaN,NaN,NaN,1

In [23]:
#Review data types
cpi_df.dtypes

REF_DATE                         int64
GEO                             object
DGUID                           object
Products and product groups     object
UOM                             object
UOM_ID                           int64
SCALAR_FACTOR                   object
SCALAR_ID                        int64
VECTOR                          object
COORDINATE                     float64
VALUE                          float64
STATUS                         float64
SYMBOL                         float64
TERMINATED                     float64
DECIMALS                         int64
dtype: object

In [24]:
#find null values
for column in cpi_df.columns:
    print(f"Column {column} has {cpi_df[column].isnull().sum()}null values")

Column REF_DATE has 0null values
Column GEO has 0null values
Column DGUID has 0null values
Column Products and product groups has 0null values
Column UOM has 0null values
Column UOM_ID has 0null values
Column SCALAR_FACTOR has 0null values
Column SCALAR_ID has 0null values
Column VECTOR has 0null values
Column COORDINATE has 0null values
Column VALUE has 0null values
Column STATUS has 375null values
Column SYMBOL has 375null values
Column TERMINATED has 375null values
Column DECIMALS has 0null values

In [25]:
# Drop null value, not required columns Status, Symbol and Terminated
cpi_df.drop(columns=['UOM','DECIMALS','DGUID','UOM_ID','SCALAR_FACTOR', 'SCALAR_ID','VECTOR','COORDINATE','STATUS','SYMBOL','TERMINATED'], inplace=True)

In [26]:
# Rename the columns in the sunshine_data DataFrame.### changed to match 2020 data
cpi_df.rename({'REF_DATE':'year',
                         'GEO':'province',
                         'Products and product groups':'product_groups',
                         'VALUE':'CPI'
                    }, axis='columns', inplace=True)

In [27]:
cpi_df.columns

Index(['year', 'province', 'product_groups', 'CPI'], dtype='object')

In [28]:
cpi_df.dtypes

year                int64
province           object
product_groups     object
CPI               float64
dtype: object

In [29]:
# Export to csv 
cpi_df.to_csv("Clean_CPI.csv", index=False)
cpi_df.head()

   year province product_groups   CPI
0  1996  Ontario      All-items  88.2
1  1997  Ontario      All-items  89.8
2  1998  Ontario      All-items  90.6
3  1999  Ontario      All-items  92.4
4  2000  Ontario      All-items  95.1